// key color
$key-color-light-pink: #FFE6E6;
$key-color-pink: #F2D1D1;
$key-color-light-blue: #DAEAF1;
$key-color-blue: #C6DCE4;

// fail type color
$pink-fail-1: #f19a9a;
$pink-fail-2: #f3c5c5;
$pink-fail-3: #f2d1d170;

// success type color
$blue-success-1: #86c9e1;



:export {
  keyLightPink: $key-color-light-pink;
  keypink: $key-color-pink;
  lightblue: $key-color-light-blue;
  blue: $key-color-blue;
  fail1: $pink-fail-1;
  fail2: $pink-fail-2;
  fail3: $pink-fail-3;
  success1: $blue-success-1;
}