$key-color-light-pink: #FFE6E6;
$key-color-pink: #F2D1D1;
$key-color-light-blue: #DAEAF1;
$key-color-blue: #C6DCE4;

:export {
  lightPink: $key-color-light-pink;
  pink: $key-color-pink;
  lightblue: $key-color-light-blue;
  blue: $key-color-blue;
}