/* button */
.dialog-close-btn {
  width: 100%;
  padding: 0 2.77vw;
  margin-top: 2.77vw;
  height: 14vw !important;
  min-height: 30px !important;
  background-color:dodgerblue !important;
  border-radius: 10px !important;
  font-size: 5vw !important;
  font-weight: 600 !important;
}